        .pure-img-responsive {
        max-width: 100%;
        height: auto;
        }

        .scontent {
        margin: 0 auto;
        padding: 0 1em;
        max-width: 800px;
        margin-bottom: 50px;
        line-height: 1.6em;
        }

        .tmlcontent {
        margin: 0 auto;
        padding: 0 1em;
        max-width: 1200px;
        margin-bottom: 50px;
        line-height: 1.6em;
        }

        .lcontent {
        margin: 0 auto;
        padding: 0 0em;
        max-width: 1000px;
        margin-bottom: 50px;
        line-height: 1.6em;
        }

        .mlcontent {
        margin: 0 auto;
        padding: 0 0em;
        max-width: 1500px;
        line-height: 1.6em;
        }

        .xlcontent {
        margin: 0 auto;
        padding: 0 0em;
        max-width: 100%;
        margin-bottom: 50px;
        line-height: 1.6em;
        }

        .xl1600content {
        margin: 0 auto;
        padding: 0 0em;
        max-width: 1600pt;
        }

        .headbarhover{
            transition: all 0.5s;
        }
        
        .headbarhover:hover{
            font-size: 110%;
        }


        .hvr-grow {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
        }

        .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        }

        .hvr-logogrow {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
        }
        .hvr-logogrow:hover, .hvr-logogrow:focus, .hvr-logogrow:active {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        }

        .hvr-cardgrow {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
        }

        .hvr-cardgrow:hover, .hvr-grow:focus, .hvr-grow:active {
        -webkit-transform: scale(1.02);
        transform: scale(1.02);
        }


        .whitetext {
            color: #dddddd;
        }

        .example-box {
            position: relative; 
            padding: 10pt;
            
        }

        .example-content-box {
            margin: 20pt;
            border-top: 2px solid #FF961E;
        }

        .example-img-box {
            text-align: center;
            margin: 20pt;
            padding: 10pt;
        }

        .example-contributor-box {
            position: absolute; 
            bottom: 0px; 
            right: 0px; 
            margin: 20pt; 
            text-align: right;
        }

        .contributor-faceimg {
            height: 35pt;
            width: 35pt;
        }


        .th-box {
            padding: 20pt;
            border-left: 2px solid #FF961E;
            margin-bottom: 20pt;
            margin-top: 20pt;
            height: 185pt;
        }

        .th-number {
            color: #FF961E;
            font-weight: 100;
            font-size: 2em;
        }

        .language-img-box {
            padding: 30pt;
        }

        .language-description-box {
            height: 150pt;
            padding-right: 20pt;
        }

        .color-brandorange {
            color: #FF961E;
        }

        .intexta {
            color: #333333;
            text-decoration: underline;;


        }


/*header is h1*/

           h1{
        font-family: arial, sans-serif;
        font-size: 1em;
        font-weight: 100;
        letter-spacing: 0em;
        word-spacing: 0em;
        line-height: 1.2em;
        color: #333333;
            }

/*Value Orange Word h2*/

            h2{
        font-family: arial, sans-serif;
        font-size: 1.5em;
        font-weight: 100;
        letter-spacing: 0em;
        word-spacing: 0em;
        line-height: 1.6em;
        color: #333333;
            }

/*Extra Big*/

    	   h3{
        font-family: arial, sans-serif;
        font-size: 4em;
/*        font-weight: medium;*/
/*        word-spacing: 0em;*/
        line-height: 1.2em;
        color: #333333;
            }

            h4{
        font-family: arial, sans-serif;
        font-size: 2.6em;
        font-weight: 200;
        letter-spacing: -0.012em;
        word-spacing: -0.06em;
        line-height: 1.2em;
        margin-top: 1em;
        margin-bottom: 1em;
        color: #333333;
            }

            h5{
        font-family: sans-serif;
        font-size: 2em;
        font-weight: 500;
        letter-spacing: -0.002em;
        word-spacing: -0.02em;
        line-height: 1.3em;
        margin-top: 0.8em;
        margin-bottom: 0.5em;
        color: #000000;
            }

            h6{
        font-family: sans-serif;
        font-size: 1.2em;
        font-weight: 200;
        letter-spacing: -0.001em;
        word-spacing: -0.02em;
        line-height: 1.5em;
        margin-top: 0.8em;
        margin-bottom: 1.2em;
        color: #333333;
            }


        	p{
        font-family: sans-serif;
        font-size: 1em;
        letter-spacing: 0em;
        color: #555555 ;
        line-height: 1.6em
        	}



            a{
        text-decoration: none;
            } 

        #valuetable1
          {
          font-family:"Arial, Helvetica, sans-serif;"
          width:100%;
          border-collapse:collapse;
          }

        #valuetable1 td, #valuetable1 th 
          {
          font-size:1em;
          /*border-bottom:1px solid #FF961E;*/
          padding:3px 7px 2px 7px;
          }

        #valuetable1 th 
          {
          font-size:1em;
          text-align:left;
          padding-top:5px;
          padding-bottom:4px;
/*          background-color:#A7C942;*/
          color:#FF961e;
          }

        #valuetable1 tr.alt td 
          {
          color:#000000;
/*          background-color:#EAF2D3;*/
          }

        .table-orangebottomline
        {
            border-bottom: 1px solid #FF961E;
        }

        .table-orangebottomline2
        {
            border-bottom: 2px solid #FF961E;
        }

        .table-text-bold
        {
            font-weight: bold;
            color: #666666;
        }

        .table-bg-lightorange
        {
            background-color: #FFF3E6;
        }


    </style>